{% extends 'main/shablon.html' %}
{% load static %}
{% block title %}Про нас{% endblock %}

{% block content %}
<div class="about">
<h1 class="h1_title">Про нас - OneUp</h1>
<p class="p">Ласкаво просимо до OneUp — простору, створеного геймерами для геймерів! Ми — команда ентузіастів, які об’єдналися заради однієї мети: ділитися любов’ю до ігор, створювати спільноту однодумців та допомагати вам завжди бути на крок попереду.</p>
<p class="p">Ми прагнемо об’єднати українську спільноту геймерів, пропонуючи платформу, де кожен може знайти найцікавіший, найактуальніший та найякісніший контент про ігри. Тут ви зможете отримати максимум корисної інформації, надихнутися новими відкриттями у світі відеоігор та поринути у багатогранний світ геймінгу.</p>

<h2 class="h2_title">Що таке OneUp?</h2>
 <img src="{% static 'main/img/logo.jpg' %}" class="logo1">
<p class="p">OneUp — це місце, де оживає магія ігор. Тут кожен знайде щось для себе — від новачка до досвідченого гравця. Ми пишемо про найцікавіше у світі відеоігор, ділимося знаннями та відкриваємо нові горизонти для геймерів будь-якого віку та уподобань.</p>

<h2 class="h2_title">Що ми пропонуємо?</h2>
<ul >
    <li class="el"><h4>Огляди ігор:</h4> Чесні, докладні та об’єктивні рецензії, які допоможуть вам дізнатися все про новинки, легендарні класики чи несподівані інді-проєкти.</li>
    <li class="el"><h4>Підбірки ігор:</h4> Тепер знайти гру, яка ідеально відповідає вашому настрою чи уподобанням, стало ще простіше. Тематичні добірки допоможуть вам заощадити час та обрати лише найкраще.</li>
    <li class="el"><h4>Статті та історії:</h4>Ми занурюємося у глибини ігрової індустрії, розповідаючи про її вплив, культурні аспекти, історії створення культових ігор та інноваційні підходи, що змінюють уявлення про світ ігор.</li>
</ul>
<h2 class="h2_title">Чому саме ми?</h2>
<p class="p">Ми надаємо інформацію, яка допомагає приймати рішення та надихає на нові пригоди у світі відеоігор. OneUp — це:</p>
<ul >
    <li class="el"><h4>Зосередженість на контенті:</h4> Тільки корисні, цікаві та актуальні матеріали.</li>
    <li class="el"><h4>Чесність та якість:</h4> Ми пишемо так, як хотіли б читати самі, ставлячи в пріоритет достовірність та об’єктивність.</li>
    <li class="el"><h4>Український акцент:</h4> Ми пишаємося тим, що створюємо платформу для українських геймерів, допомагаючи об’єднувати нашу ігрову культуру.</li>
</ul>
<h2 class="h2_title">Наша філософія</h2>
<p class="p" бачимо ігри як форму мистецтва, яке не лише розважає, але й розширює наші горизонти. OneUp створено для тих, хто цінує якісну інформацію, любить відкривати нове та шукає контент, що надихає.</p>

<p class="p">Долучайтеся до OneUp, щоб відкривати для себе дивовижні світи відеоігор разом із нами. Ми тут, щоб допомогти вам зробити правильний вибір, знайти ігри, що запам’ятаються, і залишатися завжди в центрі ігрових подій!</p>

<p class="p1">З теплом і захопленням,</p>
<p class="p2">Команда OneUp</p>
</div>
{% endblock %}
