{% extends 'main/shablon.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/reviews.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Window</title>
</head>
<body>
{% block content %}
    <div class="allarticles">
    {% if news and id and new %}
        <h1 class="title"> {{ new.title }}</h1>
        <!-- <style>
            h1.title {
                margin-left: 50px;
                text-align: center;
                color: #fff;
            }
            </style> -->
        <h1>{{ new.articletext | safe }}</h1>
        <form method="post" action="{% url 'like_article' new.id %}">
            {% csrf_token %}
            <button type="submit">Лайк</button>
        </form>
        <h1>Рейтинг: {{ new.getrating }}</h1>
        <form method="post" action="{% url 'dislike_article' new.id %}">
            {% csrf_token %}
            <button type="submit">Дизлайк</button>
        </form>
        {% if new.getcommentsamount == 0 %}
            <h1>Поки що коментарів немає...</h1>
        {% else %}
            {% for com in comments %}
                <h1>{{ com.name }}</h1>
                <h1>{{ com.email }}</h1>
                <h1>{{ com.commenttext }}</h1>
            {% endfor %}
        {% endif %}
        <h1>Додати коментар</h1>
        <form method="post" action="{% url 'comment' new.id %}">
            {% csrf_token %}
            {{ commentform.name }} {{ commentform.email }} </br>
            {{ commentform.commenttext }}
            <button class="btn btn-success" type="submit">Додати коментар</button>
        </form>
    {% else %}
        <h1>А де?!</h1>
    {% endif %}
    </div>
{% endblock %}
</body>
</html>
