{% extends 'main/shablon.html' %}
{% load static %}
<link rel="stylesheet" href="{% static '/main/css/main.css' %}?v=1">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Window</title>
</head>
<body>
{% block content %}
    <div class="allarticles">
    {% if news and id and new %}
        <h1 id="title"> {{ new.title }}</h1>
        <h1 id="art_text">{{ new.articletext | safe }}</h1>
        <div class="buttons">
            <form method="post" action="{% url 'like_article' new.id %}">
                {% csrf_token %}
                <button type="submit" class="b like">Лайк</button>
            </form>
            <h1> Лайків: {{ new.getlikes }}</h1>
            <form method="post" action="{% url 'dislike_article' new.id %}">
                {% csrf_token %}
                <button type="submit" class="b dis">Дизлайк</button>
            </form>
            <h1> Дизлайків: {{ new.getdislikes }}</h1>
        </div>
        {% if new.getcommentsamount == 0 %}
            <h1>Поки що коментарів немає...</h1>
        {% else %}
            <div class="comments-section">
                {% for com in comments %}
                    <div class="comment-card">
                        <div class="comment-field">
                            <label class="comment-label"></label>
                            <div class="comment-value">{{ com.name }}</div>
                        </div>
                        <div class="comment-field">
                            <label class="comment-label"></label>
                            <div class="comment-value">{{ com.email }}</div>
                        </div>
                        <div class="comment-field">
                            <label class="comment-label"></label>
                            <div class="comment-value comment-text">{{ com.commenttext }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <form class="comment-form" method="post" action="{% url 'comment' new.id %}">
            {% csrf_token %}
            <h1 class="form-title">Додати коментар</h1>
            <div class="form-group">
                <label for="name">Ваше ім'я:</label>
                {{ commentform.name }}
            </div>
            <div class="form-group">
                <label for="email">Ваш email:</label>
                {{ commentform.email }}
            </div>
            <div class="form-group">
                <label for="commenttext">Ваш коментар:</label>
                {{ commentform.commenttext }}
            </div>
            <button class="btn btn-success submit-btn" type="submit">Додати коментар</button>
        </form>
    {% else %}
        <h1>А де?!</h1>
    {% endif %}
    </div>
{% endblock %}
</body>
</html>
