{% extends 'main/shablon.html' %}

{% block title %}Статті{% endblock %}

{% block content %}
<div class = "allarticles">
    {% if news %}
        {% for new in news %}
            <div class="articleview">
                <h2>{{ new.title }}</h2>
                <img class="image" src={{ new.previewimage.url }}>
                <h2>Дата: {{ new.date }}</h2>
                <h2>Переглядів: {{ new.getviews }}</h2>
                <h2>Коментарів: {{ new.getcommentsamount }}</h2>
                <div class="like-dislike-buttons">
                    <form method="post" action="{% url 'like_article' new.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="redirectto" value="main"> <!--ось це не чіпай, це костиль 😎-->
                        <button type="submit" class="btn btn-like">
                            <i class="bi bi-hand-thumbs-up-fill"></i> Лайк
                        </button>
                    </form>
                    <h1> Лайків: {{ new.getlikes }}</h1>
                    <form method="post" action="{% url 'dislike_article' new.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="redirectto" value="main"> <!--ось це не чіпай, це костиль 😎-->
                        <button type="submit" class="btn btn-dislike">
                            <i class="bi bi-hand-thumbs-down-fill"></i> Дизлайк
                        </button>
                    </form>
                    <h1> Дизлайків: {{ new.getdislikes }}</h1>
                </div>
                <form method="post" action="{% url 'articlewindow' new.id %}">
                    {% csrf_token %}
                    <button type="submit" class="link">Перейти</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <h1>Сьогодні без новин!</h1>
    {% endif %}
    </div>
{% endblock %}