<!-- Файл для шаблону сайту -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Верхня панель -->
    <header>
        <div class="logo-container">
            <img src="{% static 'main/images/logo.svg' %}" alt="Лого">
        </div>
        <form method="GET" action="{% url 'search' %}">
            {% csrf_token %}
        <div class="search-container">
            <input type="text" name = 'query' placeholder="Пошук по сайту">
            <button type = 'submit'>
                <i class="fa-solid fa-search"></i>
            </button>
        </div>
        </form>
        <div class="menu-icon">
            <button onclick="toggleSidebar()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </header>

    <!-- Бічна панель -->
    <aside id="sidebar">
        <button onclick="toggleSidebar()">
            <i class="fa-solid fa-bars" id="hidden"></i>
        </button>
        <ul class="nav-list">
            <li class="list-elem"><a href="{% url 'main' %}"><i class="bi bi-house-fill"></i> Головна</a></li>
            <li class="list-elem"><a href="{% url 'review' %}"><i class="fa-solid fa-magnifying-glass-chart"></i> Огляди</a></li>
            <li class="list-elem"><a href="{% url 'selection' %}"><i class="fa-solid fa-scroll"></i> Підбірки</a></li>
            <li class="list-elem"><a href="{% url 'article' %}"><i class="fa-solid fa-newspaper"></i> Статі</a></li>
            <li class="list-elem"><a href="{% url 'about' %}"><i class="bi bi-person-vcard-fill"></i> Про нас</a></li>
        </ul>
    </aside>

    <!-- Фон затемнення -->
    <div id="overlay" onclick="toggleSidebar()"></div>

    <!-- Головна частина -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>
